<!-- In todos/templates/todos/todo_list_list.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <title>Todo List Details</title>
</head>
<body>
    <h1>{{ todo_list.name }} Details</h1>
    <table>
        <thead>
            <tr>
                <th>Task</th>
                <th>Due Date</th>
                <th>Completed</th>
            </tr>
        </thead>
        <tbody>
            {% for todo_item in todo_items %}
            <tr>
                <td>{{ todo_item.task }}</td>
                <td>{{ todo_item.due_date|date:"N j, Y, P" }}</td>
                <td>{{ todo_item.is_completed|yesno:"Yes,No" }}</td>
            </tr>
            {% empty %}
                <tr>
                    <td colspan="3">No to-do items for this list.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
